
# Keep environment variables out of version control

# prisma client generated
src/generated/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
coverage/
*.tgz

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# TypeScript
*.js
*.d.ts
!src/**/*.js
!src/**/*.d.ts

# TypeScript cache
*.tsbuildinfo

# OS / Editor 系統檔案
.DS_Store
Thumbs.db

# IDE and OS specific files
.vscode/
.idea/
.history/
*.swp
*.bak

# my ignore
model.txt